<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="user-plugins" value=""/>
		<add key="system-plugins" value=""/>
		<add key="cleanitol-output" value=""/>
		<add key="scan-system-plugins" value=""/>
		<add key="scan-addditional-folders" value=""/>
		<add key="additional-folders" value=""/>
	</appSettings>
</configuration>
<!--https://www.c-sharpcorner.com/article/four-ways-to-read-configuration-setting-in-c-sharp/-->